IsolationPartialWords.v11.suo
IsolationPartialWords/bin/Debug/IsolationPartialWords.exe.config
IsolationPartialWords/bin/Debug/IsolationPartialWords.vshost.exe
IsolationPartialWords/bin/Debug/IsolationPartialWords.vshost.exe.config
IsolationPartialWords/bin/Debug/IsolationPartialWords.vshost.exe.manifest
IsolationPartialWords/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IsolationPartialWords/obj/Debug/IsolationPartialWords.csproj.FileListAbsolute.txt
IsolationPartialWords/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
IsolationPartialWords/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
IsolationPartialWords/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
IsolationPartialWords/bin/Debug/IsolationPartialWords.exe
IsolationPartialWords/bin/Debug/IsolationPartialWords.pdb
IsolationPartialWords/obj/Debug/IsolationPartialWords.csprojResolveAssemblyReference.cache
IsolationPartialWords/obj/Debug/IsolationPartialWords.exe
IsolationPartialWords/obj/Debug/IsolationPartialWords.pdb
.gitignore

